<%= javascript_pack_tag 'chart' %>

<div class="container pb-5">
  <div id="chart">
  </div>
  <%= link_to component_path do %>
    <button class='btn btn-secondary'>Go next</button>
  <% end %>
</div>


