<%= javascript_pack_tag 'index' %>

<div class="container">
  <h3 class='pt-5'>This part is written on ERB file</h3>

  <div class="pt-5">
    <div id="app">
    </div>

    <div id="sample">
    </div>
    <%= link_to show_path do %>
      <button type="button" class="btn btn-primary">Primary</button>
    <% end %>
  </div>
</div>
