<%= javascript_pack_tag 'index' %>

<div class="container pt-4 pb-5">
  <h1>This applicaiton is made for practice vue with rails</h1>
  <h3 class='pt-5'>This part is written on ERB file</h3>

  <div class="pt-5">
    <div id="app">
    </div>

    <div id="sample">
    </div>
    <%= link_to show_path do %>
      <button type="button" class="btn btn-primary">Go next</button>
    <% end %>
  </div>
</div>
